.node {
  stroke: #fff;
  stroke-width: 1.5px;
}
.link {
  stroke: #999;
  stroke-opacity: .6;
}


path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}
marker#licensing {
    fill: green;
}
path.link.licensing {
    stroke: green;
}
path.link.resolved {
    stroke-dasharray: 0, 2, 1;
}
circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}
text {
    font-size: 10px;
    pointer-events: none;
}
text.front {
}
text.shadow {
    stroke: #fff;
    stroke-opacity: 0.8;
    stroke-width: 3px;
}
