body {
    padding-bottom: 20px;
    padding-top: 20px;
}
.navbar {
    margin-bottom: 20px;
    min-width: 1000px;
    text-align: center;
}
.navbar-container {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.text-input-field {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 10px;
}
.label-input-field {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 15px;
}
.dropdown-input-field {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
}
.button-input-field {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 8px;
}
.dropdown-menu {
    min-width: 250px;
}